<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="../css/font-awesome-4.6.2/css/font-awesome.css">
<link rel="stylesheet" href="../css/management.css">
<ion-content>
  <ion-list>
    <ion-item ng-repeat="mngt-item in mngt-items">
      <ul class="list">
        <li class="item">
          <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i><br>Account
          </a>
        </li>
        <li class="item">
          <a href="#">
          <i class="fa fa-terminal" aria-hidden="true"></i><br>Command
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <br>RFID
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-square-o" aria-hidden="true"></i><br>Polygon Geo-fence
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-square-o" aria-hidden="true"></i><br>Geo-fence binding
          </a>
        </li>
        <li class="item">
          <a href=""><i class="fa fa-braille" aria-hidden="true"></i>Fuel sensor
          </a>
        </li>
        <li class="item">
          <a href=""><i class="fa fa-taxi" aria-hidden="true"></i><br>Driver
          </a>
        </li>
        <li class="item">
          <a href=""><i class="fa fa-taxi" aria-hidden="true"></i><br>Car
          </a>
        </li>
        <li class="item">
          <a href=""><i class="fa fa-cutlery" aria-hidden="true"></i><br>DIY
          </a>
        </li>
        <li class="item">
          <a href=""><i class="fa fa-wifi" aria-hidden="true"></i><br>OTA
          </a>
        </li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>
