.header-items {
  position: fixed;top: 0;
  left: 0;right: 0;
  background: linear-gradient(rgba(15, 47, 80, 0.86),rgba(22, 184, 206, 0.7));text-align: center;
  font-family: 'Josefin Slab', serif;
}
.header-items img {height: 48px;padding: 10px;}


/*setting the map as bg once the homepg is loaded*/
#map {
  height: 100vh;
  position: absolute;
  width: 100%;
  /*border: 1px solid;*/
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
/*nav buttons*/
ion-nav-buttons #left-btn {
  position: absolute;
  top: 15px;
  left: 10px;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 2px 4px;
  font-size: 28px;
  text-align: center;
  border-radius: 4px;
}
ion-nav-buttons #right-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 2px 4px;
  font-size: 28px;
  text-align: center;
  border-radius: 4px;
}
.button:hover{cursor: pointer;}
/*left menu*/
ion-side-menu .list {
  list-style-type: none;
  margin: 0;padding: 0;
}
.left-menu {
  background: linear-gradient(rgba(5, 16, 41, 0.89),rgba(13, 19, 29, 0.86));
  position: absolute;
  top: 0;
  left: 0;
  /*left: -168px;*/
  height: 100vh;
}
.left-menu #user-pp {position: relative;left: 10px;}
.right-menu {
  background: linear-gradient(rgba(5, 16, 41, 0.89),rgba(13, 19, 29, 0.86));
  position: absolute;
  top: 0;
  right: 0;
  /*right: -110px;*/
  height: 100vh;
}
.list {list-style-type: none;padding-top: 48px;}
.list .item {
  display: block;
  margin: 2px 0;
  padding: 10px;
  font-family: 'Josefin Slab', serif;
}
.list .item:hover {
  background-color: aqua;
  font-weight: bold;
  transition: background ease 1s;
  -webkit-transition: background ease 1s;
}
.list .item a {text-decoration: none;color: #fff;}
#right-menu li {
  display: inline;
}
#right-menu li:hover{
  background-color: aqua;
  border-radius: 20px;
  padding: 5px 10px;
}
#left-menu, #right-menu {
  padding-top: 68px;
}
