/* Empty. Add your own CSS if you like */
ion-view {
  background: linear-gradient(rgba(18, 77, 138, 0.95),rgba(14, 199, 190, 0.88));
  text-align: center;
  height: 100vh;
  position: absolute;width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

ion-view ion-content img {
  height: 72px;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
}
ion-view .login {
  /*text-align: center;*/
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  /*margin-top: 40px;*/
  /*margin-bottom: 20px;*/
  /*border: 1px solid;*/
}
ion-view .login label {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
ion-view .login label input {
  margin: 2px auto 0px;
  border-radius: 4px;
  padding: 10px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
ion-view .login #login-btn {
  background: none;
  border: 2px solid #fff;
  border-radius: 40px;
  font-weight: bold;
  color: white;
  padding: 10px 40px;
  margin-top: 10px;
  position: relative;
}
